
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.navbar{
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 7vh;
    z-index: 1;

    /* Animations */
    transition-timing-function: ease-in;
    transition:all 0.5s;
}

.nav__logo{
    width: 10%; 
    position: fixed;
    left: 0px;
    cursor: pointer;
    object-fit: contain;
    padding-left: 20px;
    top: 3%;
 }
 
 .nav__avatar{
     position: fixed;
     right: 20px;
     width: 4%;
     object-fit: contain;
     cursor: pointer;
     top: 2.8%;
 
 }

 .nav__black{
    background-color: #111;
    
}